.pageInfoRoot {
  width: 100%;
  overflow: auto;
  border-top: 1px dashed #cccccc;
}

.pageInfoRow {
  width: 400px;
  min-height: 100px;
  margin: 10px auto;
  border: 1px solid #cccccc;
}

.pageInfoRowHeader {
  min-height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 14px;
}

.pageInfoValue {
  min-height: 60px;
  padding: 14px;
  border-top: 1px solid #cccccc;
  word-wrap: break-word;
  white-space: normal;
}

