.pageInfoRoot {
  width: 100%;
  padding-top: 30px;
  overflow: auto;
}

.pageInfoRow {
  position: relative;
  width: 400px;
  min-height: 100px;
  margin: 10px auto;
  border: 1px solid #cccccc;
  padding: 0 24px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .15) !important;
  background-color: #ffffff;
}

.pageInfoRowHeader {
  min-height: 40px;
  line-height: 40px;
  padding-left: 14px;
  border-bottom: 1px solid #f0f0f0;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.pageInfoValue {
  min-height: 60px;
  padding: 14px;
  word-wrap: break-word;
  white-space: normal;
}

.pageTitle {
  font-size: 18px;
  border-bottom: 1px solid #f0f0f0;
  height: 36px;
  line-height: 36px;
  width: 100%;
  margin-bottom: 30px;
  user-select: none;
}
